@font-face {
	font-family: 'Badscriptregular';
	src:
		url('../fonts/Bad_Script/Badscriptregular.ttf') format('truetype'),
		url('../fonts/Bad_Script/Badscriptregular.woff') format('woff'),
		url('../fonts/Bad_Script/Badscriptregular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
